.TeamTile {
    height: 150px;
    text-align: center;
    border: 2px solid;
    margin-top: 10px;
    padding-top: 50px;
    // background-image: url("TeamTileImages/360_F_442896172_ycT45J3zr3xiw0Y9GfGVhXOm5aZnrj6s.jpeg");
    background-color: rgb(155, 58, 58);

}